/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f5f5f5;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}